/Game/nbproject/private/
/Game/build/
/move_image/nbproject/private/
/move_image/build/
/Game/dist/
/Dijkstra/nbproject/private/
/Dijkstra/build/
/test/nbproject/private/
/test/build/
/test/dist/